<div class="container-fluid mt-5">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="mb-4">The Good Book</h1>
    <h4 class="mb-4">Cerca qui i tuoi libri preferiti</h4>
    <div class="input-group rounded-pill">
      <input #input type="text" class="form-control rounded-pill" placeholder="Cerca il tuo libro..." (input)="onSearchInputChange($event)">
      <button class="btn btn-primary rounded-pill" type="button">
        <i class="bi bi-search"></i>
      </button>
    </div>
    <div *ngIf="inputValue !== ''" class="container mt-3 position-relative">
      <div>
        <div *ngFor="let book of displayedBooks">
          <app-detail-book [book]="book"></app-detail-book>
        </div>
      </div>
    </div>
  </div>
</div>
