<div class="container p-5">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <a routerLink="/" class="btn btn-dark mb-3">Torna Indietro</a>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <img [src]="bookData.volumeInfo.imageLinks.thumbnail" alt="Copertina del libro" class="img-fluid img-custom">
      </div>
      <div class="col-md-8 col-sm-12">
        <h1>{{ bookData.volumeInfo.title }}</h1>
        <p>Autore: {{ bookData.volumeInfo.authors[0] }}</p>
        <p>Pubblicato da: {{ bookData.volumeInfo.publisher }}</p>
        <p>Data di pubblicazione: {{ bookData.volumeInfo.publishedDate }}</p>
        <p>Categorie: {{ bookData.volumeInfo.categories.join(', ') }}</p>
        <p>Descrizione: {{ bookData.volumeInfo.description }}</p>
      </div>
    </div>
  </div>