<footer class="bg-black text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
          <h4>Contatti</h4>
          <p>
            Via: Via Catulini 1<br>
            Città: Castiglione Messer Raimondo (TE)<br>
            Numero di telefono: 3454344216<br>
            Email: umberto.giuliani.93@gmail.com
          </p>
        </div>
  
        <div class="col-md-4 text-center">
          <img src="logo.png" alt="Logo" class="img-fluid">
        </div>
  
        <div class="col-md-4 text-center">
          <h4>Social</h4>
          <div class="social-icons">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>