<footer class="bg-black text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
        <h4>Contatti</h4>
        <p>
          <i class="bi bi-envelope"></i> Email: umberto.giuliani.93@gmail.com<br>
          <i class="bi bi-telephone"></i> Cellulare: 345 4344216
        </p>
      </div>

      <div class="col-md-4 text-center">
        <h4>Indirizzo</h4>
        <p>
          <i class="bi bi-geo-alt"></i> Via: Contrada Catulini 1<br>
          <i class="bi bi-geo-alt"></i> Città: Castiglione Messer Raimondo<br>
          <i class="bi bi-geo-alt"></i> Provincia: Teramo
        </p>
      </div>

      <div class="col-md-4 text-center">
        <h4>Social</h4>
        <div class="social-icons">
          <a href="https://www.facebook.com/?locale=it_IT" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/accounts/login/" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://twitter.com/login" target="_blank"><i class="bi bi-twitter"></i></a>
          <a href="https://www.youtube.com/channel/UC20lWDqwktVuf-77aXpJZ7g" target="_blank"><i class="bi bi-youtube"></i></a>
          <a href="https://www.linkedin.com/in/umberto-giuliani-011a49209/" target="_blank"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>